In [23]:
import pandas as pd

In [34]:
main_df = pd.read_csv('Dataset/data.csv', encoding= "ISO-8859-1")
main_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [35]:
# Number of rows and columns of dataframe
main_df.shape

(541909, 8)

In [36]:
# Number of null values in each column
main_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [37]:
# Since the column "Description" and "CustomerID" has null value.
# 1. Description: we will delete the null value rows from the description which will make it difficult to analyze products.
# 2. CustomerID: we will delete null values because we are unable to segment null value to customer.

main_df.dropna(axis = 0, subset = ['Description', 'CustomerID'], inplace = True)

In [38]:
# Checking for null values in each column again. Great!
main_df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [39]:
# Checking duplicates and dropping them so that we don't misrepresent the customer into different segments.
print("Number of duplicates: ", main_df.duplicated().sum())

main_df.drop_duplicates(inplace=True)

print("Verifying number of duplicates after removing them : ", main_df.duplicated().sum())

Number of duplicates:  5225
Verifying number of duplicates after removing them :  0

In [40]:
# Data type of each column
main_df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [43]:
# assigning "InvoiceDate" date type date-time.
main_df.InvoiceDate = pd.to_datetime(main_df.InvoiceDate)

# verifying datetime object
main_df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [99]:
# Check total number of unique Country, Customer and Product
print('Total number of Countries   : ', len(main_df.Country.unique()))
print('Total number of CustomerID  : ', len(main_df.CustomerID.unique()))
print('Total number of Purchases   : ', len(main_df.InvoiceNo.unique()))
print('Total number of StockID     : ', len(main_df.StockCode.unique()))

Total number of Countries   :  37
Total number of CustomerID  :  4372
Total number of Purchases   :  22190
Total number of StockID     :  3684

In [114]:
#main_df.loc[(main_df.InvoiceNo[:].endswith('12346'))]
for i in main_df.InvoiceNo:
    if i.endswith('2346'):
        print('True')

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [120]:
# Create column CancledOrder, value of CancledOrder is 1 if InvoiceNo starts with 'C' else CancledOrder is 0
# we can also write a code to solve similar problem based on negative quantity

cancled_order = []

for InvoiceNo in main_df.InvoiceNo:
    if InvoiceNo.startswith('C'):
        cancled_order.append(1)
    else:
        cancled_order.append(0)

main_df['CancledOrder'] = cancled_order

In [123]:
# Here, we can see that the Quantity is negative
main_df.loc[main_df.CancledOrder == 1, :].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CancledOrder
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,1
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,1
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,1
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,1
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,1